@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.App {
	font-family: 'Varela Round', serif;
	margin: 0;
	text-align: center;
	width: -webkit-fill-available;

	a {
		&:link {
			color: teal;
		}

		&:visited {
			color: teal;
		}

		&:hover {
			color: black;
		}

		&:active {
			color: black;
		}
	}

	.container, div[class^=container-] {

		.row >.col, .row>[class^=col-] {
			/*border: 1px dashed teal;*/
		}

		.header-row {
			.header-col {
				padding: 0;
			}

			.header-brand {
				background-color: white;
				margin: -5px 0 0 0;
				padding: inherit;

				.navbar-brand {
					margin: auto;
					img {
					}
				}
			}
			
			.header-sub {
				background:
					/* On "top" */
					repeating-linear-gradient(
						45deg,
						transparent,
						transparent 10px,
						#a2c180 10px,
						#d3faad 20px
					),
					/* on "bottom" */
					linear-gradient(
						to bottom,
						#c9ec9e,
						#8bd1c9
					);

				color: darkslategrey;
				opacity: 0.8;
				font-size: 16px;
				margin: 0;
				padding: 10px 0 10px 0;

				.row >.col, .row>[class^=col-] {
					border: none;
				}
			}

			.sidebar {
				background:
					/* On "top" */
					repeating-linear-gradient(
						45deg,
						transparent,
						transparent 10px,
						#f7d3ff 10px,
						#f7d3ff 20px
					),
					/* on "bottom" */
					linear-gradient(
						to bottom,
						#38e3f6,
						#38e3f6
					);

				/*background-size: 10px 10px;*/
				opacity: 0.8;

				ul {
					list-style: none none;
					margin: 0;
					padding: 0;

					li {
						display: inline-table;
						margin: 0;
						padding: 0;
						text-align: left;
					}
				}

				a {
					display: inline-table;

					&:link {
						color: teal;
					}
	
					&:visited {
						color: teal;
					}
	
					&:hover {
						color: black;
					}
	
					&:active {
						color: black;
					}
				}
			}
		}

		.content {
			font-size: 13px;
			padding: 20px 0;
			text-align: left;
		}

		.footer {
			border: 1px dashed green;
			border-width: 1px 0 0 0;
			font-size: 14px;
			margin: 25px 0;
			padding: 10px 0;

			.established {
				font-size: 0.7em;
				font-style: italic;
			}

			.built-with {
				background-color: azure;
				color: gray;
				font-family: 'Varela Round', serif;
				font-size: 0.6em;
				margin-top: 25px;
				padding: 2px;
			}
		}
	}
}
