@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.App {
	font-family: 'Varela Round';
	margin: 0;
	text-align: center;

	.container, div[class^=container-] {

		.row >.col, .row>[class^=col-] {
			border: 1px dashed teal;
		}

		.header-row {
			.header-col {
				padding: 0;
			}

			.header-brand {
				background-color: yellow;
				padding: 0; /* To nudge the logo over slightly */

				.navbar-brand {
					margin: auto;

					img {

					}
				}
			}
			
			.header-sub {
				font-size: 18px;
				margin: 15px 0;
			}

			.sidebar {
				background-color: #ccc;
				color: white;
				margin-bottom: 15px;
				
				a {
					&:link {
						color: white;
					}
	
					&:visited {
						color: white;
					}
	
					&:hover {
						color: white;
					}
	
					&:active {
						color: white;
					}
				}
			}
		}
		
		.content {
			text-align: left;
		}

		.footer {
			border: 1px dashed green;
			border-width: 1px 0 0 0;
			margin: 25px 0;
			padding: 10px 0;
		}
	}
}
