@import "bootstrap/scss/bootstrap";

body {
  font-family: 'Inter', sans-serif;
  background-color: #f8f9fa;
  color: #212529;
}

.App {
	margin: 0;
	text-align: center;
	width: -webkit-fill-available;

	a {
		&:link {
			color: teal;
		}

		&:visited {
			color: teal;
		}

		&:hover {
			color: black;
		}

		&:active {
			color: black;
		}
	}

	.container, div[class^=container-] {

		.row >.col, .row>[class^=col-] {
			/*border: 1px dashed teal;*/
		}

		.header-row {
			// On smaller screens where columns stack, remove row margins to prevent horizontal scroll
			@include media-breakpoint-down(sm) {
				margin-right: 0;
				margin-left: 0;
			}
			.header-col {
				padding: 0;
			}

			.header-brand {
				background-color: white;
				margin: -5px 0 0 0;
				padding: inherit;

				.navbar-brand {
					margin: auto;
					img {
					}
				}
			}
			
			.header-sub {
				background-color: #e9ecef; // A light, clean gray
				color: #495057; // A darker gray for good contrast
				font-size: 16px;
				margin: 0;
				padding: 10px 0 10px 0;

				.row >.col, .row>[class^=col-] {
					border: none;
				}
			}

			.sidebar {
				background-color: #fff;
				border-left: 1px solid #dee2e6; // A subtle border for separation
				// Vertically center the navigation
				display: flex;
				align-items: center;
				justify-content: center;

				ul {
					list-style: none none;
					margin: 0;
					padding: 0;
					display: flex;
					flex-direction: column;
					gap: 0.5rem; // Add space between nav items

					li {
						display: block;
						margin: 0;
						padding: 0; // Reset padding
						text-align: right;
					}
				}

				a {
					display: block;
					padding: 0.5rem 1rem;
					border-radius: 6px;
					transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

					&:link {
						color: teal;
					}
	
					&:visited {
						color: teal;
					}
	
					&:hover {
						color: #000;
						background-color: #e9ecef;
					}
	
					&:active {
						color: black;
					}
				}
			}
		}

		.content {
			font-size: 13px;
			padding: 20px 0;
			padding-top: 2rem;
			text-align: left;
		}

		.footer {
			border: 1px dashed green;
			border-width: 1px 0 0 0;
			padding-bottom: 2rem;
			font-size: 14px;
			margin: 25px 0;
			padding: 10px 0;

			.established {
				font-size: 0.7em;
				font-style: italic;
			}

			.built-with {
				background-color: azure;
				color: gray;
				font-family: 'Varela Round', serif;
				font-size: 0.6em;
				margin-top: 25px;
				padding: 2px;
			}
		}
	}
}
