@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.App {
	font-family: 'Varela Round', serif;
	margin: 0;
	text-align: center;
	width: -webkit-fill-available;

	a {
		&:link {
			color: teal;
		}

		&:visited {
			color: teal;
		}

		&:hover {
			color: black;
		}

		&:active {
			color: black;
		}
	}

	.container, div[class^=container-] {

		.row >.col, .row>[class^=col-] {
			/*border: 1px dashed teal;*/
		}

		.header-row {
			.header-col {
				padding: 0;
			}

			.header-brand {
				background-color: white;
				margin: -5px 0 0 0;
				padding: inherit;

				.navbar-brand {
					margin: auto;
					img {
					}
				}
			}
			
			.header-sub {
				background: repeating-radial-gradient(
					circle,
					#8ac157,
					#fde3c0 10px,
					#a3b8f8 10px,
					#fde3c0 20px
				);
				background-size: 10px 10px;
				opacity: 0.8;
				font-size: 16px;
				margin: 0;
				padding: 10px 0 10px 0;

				.row >.col, .row>[class^=col-] {
					border: none;
				}
			}

			.sidebar {
				background-color: #d3faad;

				background-size: 10px 10px;
				opacity: 0.8;

				ul {
					list-style-type: none;
					list-style: none;
					margin: 0;
					padding: 0;

					li {
						display: inline-table;
						margin: 0;
						padding: 0;
						text-align: left;
					}
				}

				a {
					display: inline-table;

					&:link {
						color: teal;
					}
	
					&:visited {
						color: teal;
					}
	
					&:hover {
						color: black;
					}
	
					&:active {
						color: black;
					}
				}
			}
		}

		.content {
			font-size: 13px;
			padding: 20px 0;
			text-align: left;
		}

		.footer {
			border: 1px dashed green;
			border-width: 1px 0 0 0;
			margin: 25px 0;
			padding: 10px 0;

			.established {
				font-size: 0.9em;
				font-style: italic;
			}

			.built-with {
				background-color: azure;
				color: gray;
				font-family: 'Varela Round', serif;
				font-size: 0.7em;
				margin-top: 25px;
				padding: 2px;
			}
		}
	}
}
