@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.App {
	font-family: 'Varela Round';
	margin: 0;
	text-align: center;

	.container, div[class^=container-] {

		.row >.col, .row>[class^=col-] {
			border: 1px dashed teal;
		}

		.header-row {
			.header-col {
				padding: 0;
			}

			.header-brand {
				background-color: yellow;
				padding: 0; /* To nudge the logo over slightly */

				.navbar-brand {
					margin: auto;

					img {

					}
				}
			}
			
			.header-sub {
				font-size: 18px;
				margin: 15px 0;
			}

			.sidebar {
				background-color: #f9f9f9;
				background-image: repeating-linear-gradient(45deg, #99f3ea 0, #99f3ea 1px, #f9f9f9 0, #f9f9f9 50%);
				background-size: 10px 10px;
				opacity: 0.8;

				ul {
					list-style-type: none;
					list-style: none;
					margin: 0;
					padding: 0;

					li {
						display: inline-table;
						margin: 0;
						padding: 0;
						text-align: left;
					}
				}

				a {
					display: inline-table;

					&:link {
						color: teal;
					}
	
					&:visited {
						color: teal;
					}
	
					&:hover {
						color: black;
					}
	
					&:active {
						color: black;
					}
				}
			}
		}
		
		.content {
			text-align: left;
		}

		.footer {
			border: 1px dashed green;
			border-width: 1px 0 0 0;
			margin: 25px 0;
			padding: 10px 0;
		}
	}
}
